---
import Moviecard from "../../components/Moviecard.astro";
import Button from "../../components/Button.astro";
import filmdatabase from "../../filmdatabase.json";
import Layout from "../../layouts/Layout.astro";
import Play from "../../components/ikoner/play.astro";
import Imdb from "../../components/Imdb.astro";

export async function getStaticPaths() {
  return filmdatabase.map((show) => {
    return {
      params: { slug: show.slug },
      props: { myData: show },
    };
  });
}

const { slug } = Astro.params;
const { myData } = Astro.props;
console.log(myData);
---

<Layout title={myData.filmTitel}>
  <section>
    <div class="splash w-full h-[60vw] lg:h-[38vw] overflow-hidden">
      <div
        class="bg-no-repeat bg-cover bg-center w-full h-full flex flex-col justify-end"
        style={`background-image: url("../../../img/${myData.imgTema}/${myData.imgTitel}/imgSingleview.webp")`}
      >
        <div class="self-center">
          <Play />
        </div>

        <div class="bottom-5 m-10 w-full">
          <h1 class="text-2xl font-display uppercase">{myData.filmTitel}</h1>
          <div class="flex">
            <Button variant="primary" tekst="Se forsmag" />
            <div class="flex gap-10 mt-5">
              <p class="text-white">Føj til favoritter</p>
              <p class="text-white">Del</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="flex mt-8 justify-items-center">
      <div class="divider flex flex-col h-full gap-16">
        <div class="infoBar text-white flex gap-2 items-center body-lg">
          <p class="text-white body-md">{myData.varighed}</p>|
          <p class="text-white body-md">{myData.aarstal}</p>|
          <p class="text-white body-md">{myData.type}</p>|
          <p class="text-white body-md">{myData.genre}</p>|
          <p class="text-white body-md">{myData.point} point</p>
        </div>

        <p class="text-white resume max-w-prose body-md">
          {myData.langResume}
        </p>
        <div>
          <Imdb tal={myData.ratingIMDb} />
        </div>
      </div>

      <div class="">
        <h3 class="text-xs text-white">DETALJER:</h3>

        <div class="text-white detaljer om filmen grid grid-cols-2">
          <p>Originaltitel:</p>
          <a
            class="text-white m-2 rounded-md border-solid border border-yellow-500 text-center hover:bg-yellow-600 hover:text-white"
            href="">Kärleksbevis</a
          >
          <p class="text-white">Sprog:</p>
          <a
            class="text-white m-2 rounded-md border-solid border border-yellow-500 text-center hover:bg-yellow-600 hover:text-white"
            href="">Svensk</a
          >
        </div>
      </div>
    </section>
    <section>
      <div class="flex flex-row w-full justify-between gap-4 px-10">
        <Moviecard />
        <Moviecard />
        <Moviecard />
      </div>
    </section>
  </section>
</Layout>
