---
import Moviecard from "../components/Moviecard.astro";
import Button from "../components/Button.astro";
import filmdatabase from "../filmdatabase.json";
import Layout from "../layouts/Layout.astro";
import Imdb from "../components/Imdb.astro";
import Detaljertags from "../components/Detaljertags.astro";
import Heart from "../components/ikoner/heart.astro";
import Del from "../components/ikoner/del.astro";
import Stjernerating from "../components/Stjernerating.astro";
import PlayPopup from "../components/Play_popup.astro";
import TemaSection from "../components/TemaSection.astro";

export async function getStaticPaths() {
  return filmdatabase.map((film) => {
    return {
      params: { slug: film.slug },
      props: { myData: film },
    };
  });
}

// const { slug } = Astro.params;
const { myData } = Astro.props;
console.log(myData);
---

<Layout title={`Filmstriben | ${myData.filmTitel}`}>
  <aside
    id="popup"
    class="hidden bg-black bg-opacity-70 fixed justify-center items-center top-0 left-0 w-screen h-screen z-[400]"
  >
    <PlayPopup />
  </aside>
  <div class="splash w-full h-[60vw] md:h-[40vw] overflow-hidden">
    <div
      id="splashPic"
      class="bg-no-repeat bg-cover bg-top w-full h-full flex flex-col justify-end aspect-ratio"
      style={`background-image: url("../../../img/${myData.imgTema}/${myData.imgTitel}/imgSingleview.webp")`}
    >
      <div class="bottom-5 px-10 py-6 w-full justify-between flex items-end">
        <div>
          <h1 class="text-2xl font-display uppercase mb-2 max-w-[20ch]">
            {myData.filmTitel}
          </h1>
          <div class="flex items-center gap-4">
            <Button
              btnClass="openPopup"
              variant="primary"
              typeIcon="circle-play"
              tekst="Lån filmen"
            />
            <Button variant="secondary-uden-icon" tekst="Se forsmag" />

            <div class="flex gap-4">
              <p class="text-white hover:text-gold-500">
                Føj til favoritter <Heart />
              </p>
              <div class="flex gap-2">
                <p class="text-white hover:text-gold-500">Del</p><Del />
              </div>
            </div>
          </div>
        </div>
        <div class="w-20">
          <img src={`../alder/${myData.alder}.webp`} alt="" />
        </div>
      </div>
    </div>
  </div>
  <main>
    <section class="grid grid-cols-2 my-8 px-10 gap-16">
      <div class="flex flex-col h-full gap-16 pt-4">
        <div class="infoBar text-grey-200 flex gap-2 items-center body-lg">
          <p class="text-grey-200 body-md">{myData.varighed}</p>|
          <p class="text-grey-200 body-md">{myData.aarstal}</p>|
          <p class="text-grey-200 body-md">{myData.type}</p>|
          <p class="text-grey-200 body-md">{myData.genre}</p>|
          <p class="text-grey-200 body-md">{myData.point} point</p>
        </div>

        <p class="text-white resume max-w-prose body-md">
          {myData.langResume}
        </p>
        <div class="grid gap-4">
          <Stjernerating antal={myData.ratingAntal} />
          <Imdb tal={myData.ratingIMDb} />
        </div>
      </div>

      <div class="dividerLeft py-4 pl-16">
        <h3 class="text-xs text-white mb-8">DETALJER:</h3>

        <div
          class="text-white grid grid-cols-[auto_minmax(0px,_1fr)] gap-y-4 gap-x-20"
        >
          <p class="text-white">Sprog:</p>
          <div class="tagWrapper">
            {
              myData.sprog &&
                myData.sprog.map((sprog) => <Detaljertags tekst={sprog} />)
            }
          </div>
          <p class="text-white">Land:</p>
          <div class="tagWrapper">
            {
              myData.land &&
                myData.land.map((land) => <Detaljertags tekst={land} />)
            }
          </div>

          <p>Undergenre:</p>
          <div class="tagWrapper">
            {
              myData.underGenre &&
                myData.underGenre.map((underGenre) => (
                  <Detaljertags tekst={underGenre} />
                ))
            }
          </div>
          <p>Instruktør:</p>
          <div class="tagWrapper">
            {
              myData.instruktor &&
                myData.instruktor.map((instruktor) => (
                  <Detaljertags tekst={instruktor} />
                ))
            }
          </div>

          <p>Medvirkende:</p>
          <div class="tagWrapper">
            {
              myData.medvirkende &&
                myData.medvirkende.map((medvirkende) => (
                  <Detaljertags tekst={medvirkende} />
                ))
            }
          </div>
          <p>Manuskriptforfatter:</p>
          <div class="tagWrapper">
            {
              myData.manusforfatter &&
                myData.manusforfatter.map((manusforfatter) => (
                  <Detaljertags tekst={manusforfatter} />
                ))
            }
          </div>
          <p>Filmfotografer:</p>
          <div class="tagWrapper">
            {
              myData.filmfotograf &&
                myData.filmfotograf.map((filmfotograf) => (
                  <Detaljertags tekst={filmfotograf} />
                ))
            }
          </div>

          <p>Produktionsselskab:</p>
          <div class="tagWrapper">
            {
              myData.produktionsselskab &&
                myData.produktionsselskab.map((produktionsselskab) => (
                  <Detaljertags tekst={produktionsselskab} />
                ))
            }
          </div>

          <p>Emneord:</p>
          <div class="tagWrapper">
            {myData.emneord.map((emneord) => <Detaljertags tekst={emneord} />)}
          </div>
        </div>
      </div>
    </section>
    <TemaSection temaTitel="Senest tilføjet" />
  </main>
</Layout>

<script>
  const openPopup = document.querySelector(".openPopup");
  const popup = document.querySelector("#popup");
  const luk = document.querySelector("#closeButton");
  openPopup.addEventListener("click", () => (popup.style.display = "flex"));
  popup.addEventListener("click", () => (popup.style.display = "none"));
  luk.addEventListener("click", () => (popup.style.display = "none"));
</script>

<style>
  html body main {
    padding: 0rem 0rem;
  }
  .tagWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  /* gammel opgave style af aside  */
  #popup {
    display: none;
  }
</style>
