---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import MovieCard from "../components/Moviecard.astro";
import Plakatcard from "../components/Plakatcard.astro";
import Maanedscard from "../components/Maanedscard.astro";
import Heart from "../components/ikoner/heart.astro";
import Sog from "../components/ikoner/sog.astro";
import Tilbageknap from "../components/Tilbageknap.astro";
import User from "../components/ikoner/user.astro";
import Del from "../components/ikoner/del.astro";
import Detaljertags from "../components/Detaljertags.astro";
import Star from "../components/ikoner/star.astro";
import Facebook from "../components/ikoner/facebook.astro";
import Instagram from "../components/ikoner/Instagram.astro";
import Twitter from "../components/ikoner/twitter.astro";
import Play from "../components/ikoner/play.astro";
import Kryds from "../components/ikoner/Kryds.astro";
import Info from "../components/ikoner/info.astro";
import Temacard from "../components/Temacard.astro";
import Info_popup from "../components/Info_popup.astro";
import Play_popup from "../components/Play_popup.astro";
import Karrusel from "../components/Karrusel.astro";
import Stjernerating from "../components/Stjernerating.astro";
import IMDB from "../components/Imdb.astro";
import Stortplay from "../components/ikoner/Stortplay.astro";
import filmdatabase from "../filmdatabase.json";
import Filtrering from "../components/Filtrering.astro";
import Hero from "../components/Hero.astro";
import Tema_karrusel from "../components/Tema_karrusel.astro";
import Plakat_karrusel from "../components/Plakat_karrusel.astro";
import Sogbar from "../components/Sogbar.astro";
import Procesbar from "../components/procesbar.astro";
import Header_heart from "../components/ikoner/Header_heart.astro";
import Header_user from "../components/ikoner/Header_user.astro";
---

<Layout title="komponent udviklings side">
  <Hero />
  <main>
    <Header_heart variant="large" />
    <Header_user />

    <Procesbar />
    <Sogbar />
    <Plakat_karrusel temaTitel="Oscar-film | vindere og nominerede" />
    <Tema_karrusel temaTitel="Film om Mongoliet" />

    <Filtrering />
    <div class="flex flex-row w-full justify-between gap-4 px-10">
      <MovieCard />
      <MovieCard />
      <MovieCard />
    </div>

    <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-4 lg:gap-4 px-10"
    >
      {
        filmdatabase.map((film) => (
          <MovieCard
            varighed={film.varighed}
            genre={film.genre}
            aarstal={film.aarstal}
            filmTitle={film.filmTitel}
            imgSrc={`../img/${film.imgTema}/${film.imgTitel}/imgCard.webp`}
            slug={film.slug}
            point={film.point}
          />
        ))
      }
    </section>

    <Button variant="primary" tekst="primary" typeIcon="play" />
    <Button
      variant="primary-uden-icon"
      tekst="primary-uden-icon"
      typeIcon="play"
    />
    <Button variant="secondary" tekst="secondary" typeIcon="sliders" />
    <Button variant="secondary-uden-icon" tekst="secondary-uden-icon" />

    <Tilbageknap tekst="Tilbage" />
    <Plakatcard />
    <Maanedscard />
    <Heart variant="medium" />
    <Sog variant="medium" />
    <User variant="medium" />
    <Del variant="medium" />
    <Star variant="large" />
    <Facebook variant="medium" />
    <Instagram variant="medium" />
    <Twitter variant="medium" />
    <Play variant="medium" />
    <Kryds variant="medium" />
    <Info variant="medium" />
    <Detaljertags tekst="Dansk" />
    <Temacard />
    <Play_popup />
    <Karrusel />
    <Stjernerating />
    <IMDB />
    <Stortplay />
    <Info_popup />
  </main>
</Layout>
