---
import Layout from "../layouts/Layout.astro";
import MovieCard from "../components/Moviecard.astro";
import filmdatabase from "../filmdatabase.json";
import maanedensfilm from "../maanedensfilm.json";
import Maanedscard from "../components/Maanedscard.astro";
import TemaSection from "../components/TemaSection.astro";
import Button from "../components/Button.astro"
import Heart from "../components/ikoner/heart.astro"
import Del from "../components/ikoner/del.astro"


const { tema } = Astro.props;

const temaFiltret = filmdatabase.filter((film) => film.tema === "Kærlighed");
---

<Layout title="Filmstriben">
  <div class="splash w-full h-[60vw] md:h-[40vw] overflow-hidden">
    <div
      class="bg-no-repeat bg-cover bg-top w-full h-full flex flex-col justify-end aspect-ratio"
      style="background-image: url(../img/loveproof.webp)"
    >
      <div class="bottom-5 px-10 py-6 w-full justify-between flex items-end">
        <div>
          <h1 class="text-2xl font-display uppercase mb-2">
            {.filmTitel}
          </h1>
          <div class="flex items-center gap-4">
            <Button
              variant="primary"
              typeIcon="circle-play"
              tekst="Lån filmen"
            />
            <Button variant="secondary-uden-icon" tekst="Se forsmag" />

            <div class="flex gap-4">
              <p class="text-white">Føj til favoritter <Heart /></p>
              <div class="flex gap-2">
                <p class="text-white">Del</p><Del />
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <main>
    <TemaSection temaTitel="Kærlighed" />
    <!-- <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-4 lg:gap-4 px-10"
    >
      {
        temaFiltret.map((film) => (
          <MovieCard
            varighed={film.varighed}
            genre={film.genre}
            aarstal={film.aarstal}
            filmTitle={film.filmTitel}
            imgSrc={`../img/${film.imgTema}/${film.imgTitel}/imgCard.webp`}
            slug={film.slug}
            point={film.point}
          />
        ))
      }
    </section> -->

    <section
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 w-full gap-4 lg:gap-4 px-10"
    >
      {
        filmdatabase.map((film) => (
          <MovieCard
            varighed={film.varighed}
            genre={film.genre}
            aarstal={film.aarstal}
            filmTitle={film.filmTitel}
            imgSrc={`../img/${film.imgTema}/${film.imgTitel}/imgCard.webp`}
            slug={film.slug}
            point={film.point}
          />
        ))
      }
    </section>

    <!-- <section class="grid grid-cols-3 w-full gap-4 px-10x">
      {
        filmdatabase.map((film) => (
          <MovieCard
            varighed={film.varighed}
            genre={film.genre}
            aarstal={film.aarstal}
            filmTitle={film.filmTitel}
            imgSrc={`../img/${film.imgTema}/${film.imgTitel}/imgCard.webp`}
            url={film.slug}
          />
        ))
      }
    </section> -->
    <section>
      <Maanedscard />
    </section>
  </main>

  <script></script>
</Layout>
