---
import Layout from "../layouts/Layout.astro";
import MovieCard from "../components/Moviecard.astro";
import filmdatabase from "../filmdatabase.json";

const { title } = Astro.props;
---

<Layout title="Filmstriben | Alle film">
  <main>
    <h2>Alle film</h2>

    <section>
      {
        filmdatabase.map((film) => (
          <MovieCard
            varrighed={film.varrighed}
            genre={film.genre}
            aarstal={film.aarstal}
            filmTitle={film.filmTitel}
            imgSrc={`../img/${film.imgTema}/${film.imgTitel}/imgCard.webp`}
          />
        ))
      }
    </section>
  </main>

  <script></script>
</Layout>
