---
import Layout from "../layouts/Layout.astro";
import MovieCard from "../components/Moviecard.astro";
import filmdatabase from "../filmdatabase.json";
import maanedensfilm from "../maanedensfilm.json";
import Maanedscard from "../components/Maanedscard.astro";

const { title } = Astro.props;
---

<Layout title="Filmstriben | Alle film">
  <main>
    <h2>Alle film</h2>

    <section class="grid grid-cols-3 w-full gap-4 px-10x">
      {
        filmdatabase.map((film) => (
          <MovieCard
            varighed={film.varighed}
            genre={film.genre}
            aarstal={film.aarstal}
            filmTitle={film.filmTitel}
            imgSrc={`../img/${film.imgTema}/${film.imgTitel}/imgCard.webp`}
          />
        ))
      }
    </section>
    <section>
      {
        maanedensfilm.map((film) => (
          <Maanedscard
            varighed={film.varighed}
            genre={film.genre}
            aarstal={film.aarstal}
            filmTitle={film.filmTitel}
            imgSrc={`../img/${film.imgTema}/imgPlakat.webp`}
          />
        ))
      }
    </section>
  </main>

  <script></script>
</Layout>
