---
import filmgenredata from "../filmgenre.json";
import filmkategoridata from "../filmkategori.json";

import Kryds from "../components/ikoner/Kryds.astro";
import Button from "./Button.astro";
---

<Button
  btnClass="filtreringsKnap"
  variant="secondary"
  tekst="Filtrering"
  typeIcon="sliders"
/>
<div
  class="filtreringsMenu hidden absolute bg-black px-14 w-1/4 h-screen right-0 top-0 z-[200] overflow-scroll py-4 pb-28 scrollbar-hide"
>
  <div class="lukFiltrering flex w-full justify-end"><Kryds /></div>
  <form class="flex flex-col gap-8" action="">
    <fieldset>
      <legend
        class="pb-2 mb-2 border-b-[1px] w-full text-white font-display text-sm flex gap-4"
        >Sortere efter <p class="lightIcon text-[16px]">chevron-down</p>
      </legend>
      <!-- <div>
        <div class="flex justify-between my-1">
          <label for=""></label>
          <input
            class="text-gold-400 focus:ring-gold-400"
            type="checkbox"
            id=""
            name=""
          />
        </div>
      </div> -->
    </fieldset>
    <fieldset class="genre">
      <legend
        class="pb-2 mb-2 border-b-[1px] w-full text-white font-display text-sm flex gap-4"
        >Genre <p class="lightIcon text-[16px]">chevron-down</p>
      </legend>
      <div class="filtreringsListe hidden">
        {
          filmgenredata.map((genre) => (
            <div class="flex justify-between my-1">
              <label for={genre}>{genre}</label>
              <input
                class="text-gold-400 focus:ring-gold-400"
                type="checkbox"
                id={genre}
                name={genre}
              />
            </div>
          ))
        }
      </div>
    </fieldset>
    <fieldset class="kategori">
      <legend
        class="pb-2 mb-2 border-b-[1px] w-full text-white font-display text-sm flex gap-2"
        >Kategori <p class="lightIcon text-[16px]">chevron-down</p>
      </legend>
      <div class="filtreringsListe hidden">
        {
          filmkategoridata.map((kategori) => (
            <div class="flex justify-between my-1">
              <label for={kategori}>{kategori}</label>
              <input
                class="text-gold-400 focus:ring-gold-400"
                type="checkbox"
                id={kategori}
                name={kategori}
              />
            </div>
          ))
        }
      </div>
    </fieldset>
  </form>
</div>

<style>
  label {
    color: #ccc;
  }
  label:checked {
    color: white;
  }

  input[type="checkbox"]:target {
    color: red;
  }
</style>
<script>
  const knap = document.querySelector(".filtreringsKnap");
  const filtreringsMenu = document.querySelector(".filtreringsMenu");
  const luk = document.querySelector(".lukFiltrering");
  const filtreringsListe = document.querySelector(".filtreringsListe");
  const filtreringsPunkt = document.querySelector(".genre legend");
  const pil = document.querySelector(".genre legend p");

  knap.addEventListener("click", () => {
    filtreringsMenu.classList.toggle("hidden");
  });
  luk.addEventListener("click", () => {
    filtreringsMenu.classList.toggle("hidden");
  });

  filtreringsPunkt.addEventListener("click", () => {
    filtreringsListe.classList.toggle("hidden");
    if (filtreringsListe.classList.contains("hidden")) {
      console.log("den er lukket");
      pil.textContent = "chevron-down";
    } else {
      console.log("den er open");
      pil.textContent = "chevron-up";
    }
  });
</script>
