---
import Button from "../components/Button.astro";
import Heart from "../components/ikoner/heart.astro";
import Info from "../components/ikoner/info.astro";
var tal = 0;
let vistFilm = herofilmdata.filter((film) => film.id === tal);

import herofilmdata from "../hero.json";
---

<section
  id="slider"
  class="splash w-screen h-[60vw] md:h-[40vw] overflow-hidden"
>
  {
    vistFilm.map(
      (splashFilm) => (
        console.log(herofilmdata.length),
        (
          <a
            href={splashFilm.slug}
            class=" w-full h-full flex flex-col justify-end overflow-hidden"
          >
            <div
              class="bg-no-repeat bg-cover flex flex-col justify-end bg-top aspect-ratio"
              style={`background-image: url("../img/${splashFilm.imgTema}/${splashFilm.imgTitel}/imgSingleview.webp")`}
            >
              <div class="bottom-5 px-10 py-6 w-full  justify-between flex items-end">
                <div>
                  <h1 class="text-2xl font-display uppercase ">
                    {splashFilm.filmTitel}
                  </h1>
                  <div class="infoBar text-white flex gap-2 items-center body-lg  pb-2">
                    <p class="text-white body-md">{splashFilm.varighed}</p>|
                    <p class="text-white body-md">{splashFilm.aarstal}</p>|
                    <p class="text-white body-md">{splashFilm.type}</p>|
                    <p class="text-white body-md">{splashFilm.genre}</p>|
                    <p class="text-white body-md">{splashFilm.point} point</p>
                  </div>
                  <div class="flex flex-col h-full gap-16 ">
                    <div class="flex items-center gap-4">
                      <Button
                        variant="primary"
                        typeIcon="circle-play"
                        tekst="Mere info"
                      />

                      <div class="flex gap-4">
                        <Heart variant="medium" />
                        <Info variant="medium" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        )
      )
    )
  }
</section>
