---
import Heart from "../components/ikoner/heart.astro";
const {
  aarstal,
  filmTitle,
  varighed,
  genre,
  undergenre,
  imgSrc,
  beskrivelse,
  indstruktør,
} = Astro.props;
---

<article class="bg-blueSky flex flex-row py-24 px-32 justify-start gap-16">
  <img
    class=""
    src="../img/oscar film/The lost daughter/imgPlakat.jpg"
    alt="the lost daughter"
  />

  <div class="flex flex-col justify-between">
    <div>
      <h3 class="text-xs font-dinHeader text-grey-100">
        Månedens film | se for 0 point i Maj
      </h3>
      <h2 class="text-xl font-dinHeader uppercase mt-2">
        The lost daughter{filmTitle}
      </h2>
      <div class="infoBar mt-2 flex gap-2 items-center body-md">
        <p class="varrighed body-xs">1t 57min{varighed}</p>|<p
          class="aarstal body-xs"
        >
          2020{aarstal}
        </p>|
        <p class="genre body-xs">Thriller {genre}</p>|<p
          class="undergenre body-xs"
        >
          Drama {undergenre}
        </p>
      </div>
      <p class="beskrivelse body-md mt-12 max-w-prose">
        Leda (Olivia Colman) er alene på ferie på en græsk ø, hvor hun bliver
        besat af en ung mor og hendes datter, som hun observerer på stranden.
        Noget ved mor-datter-forholdet får Ledas egne minder frem. En impulsiv
        handling tvinger Leda til at konfrontere sig selv og de kontroversielle
        valg, hun tog som ung mor. <br />
        <br /> Filmen bygger på en roman af den populære forfatter Elena Ferrante.
        {beskrivelse}
      </p>
      <div class="indstruktør mt-8 flex flex-row gap-1">
        <p class="indstruktør body-sm text-grey-100">Instruktør:</p>
        <p class="body-sm">
          Maggie Gyllenhaal {indstruktør}
        </p>
      </div>
    </div>
    <div class="">
      <div class="flex">
        <Heart variant="medium" />
        <p class="text-IMDb">mangler imdb</p>
      </div>
    </div>
  </div>
</article>
