---
const { aarstal, filmTitle, slug, varighed, genre, imgSrc, undergenre, point } =
  Astro.props;
---

<a href={`film/${slug}`}>
  <article
    class="relative card w-full h-[20vw] overflow-hidden bg-no-repeat bg-cover bg-top"
    style={`background-image: url("${imgSrc}")`}
  >
    <!-- <img class="md:w-[100%]" src={imgSrc} alt="" /> -->
    <div
      class="absolute w-full h-full bottom-0 z-10 bg-no-repeat bg-cover bg-center"
    >
    </div>
    <div class="absolute w-full bottom-0 z-10">
      <!-- <div class="bg-black top-[40%] blurShadow blur-[10px]"></div> -->
      <div class="bg-black z-10 flex flex-col gap-2 px-5 pb-5">
        <p>{filmTitle}</p>
        <div class="infoBar text-white flex gap-2 items-center body-sm">
          <p class="varrighed body-xs">{varighed}</p>|<p
            class="aarstal body-xs"
          >
            {aarstal}
          </p>|<p class="genre body-xs">{genre}</p>|<p class="genre body-xs">
            {point} point
          </p>
        </div>
      </div>
    </div>
  </article>
</a>

<script>
  export default {
    props: ["film"],
  };
</script>

<style>
  /* .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  } */
</style>
