---
const { aarstal, filmTitle, slug, varighed, genre, imgSrc, undergenre, point } =
  Astro.props;
import Heart from "../components/ikoner/heart.astro";
import InfoPopup from "./Info_popup.astro";
import Info from "./ikoner/info.astro";
---

<article
  class="card aspect-ratio relative w-full flex flex-col-reverse h-[60vw] md:h-[40vw] lg:h-[20vw] bg-no-repeat bg-cover bg-top rounded-[3px]"
  style={`background-image: url("${imgSrc}")`}
>
  <div class="w-full bottom-0 relative h-full flex flex-col-reverse">
    <div class="bg-black info"><span></span></div>

    <div class="bg-black w-full absolute z-[1] flex flex-col px-5 pb-3">
      <a href={`../${slug}`} class="w-fit h-fit">
        <p class="titel font-display text-xs">{filmTitle}</p>
      </a>
      <div class="flex justify-between">
        <div class="infoBar text-grey-100 flex gap-2 items-center body-sm">
          <p class="varrighed body-xs">{varighed}</p>|<p
            class="aarstal body-xs"
          >
            {aarstal}
          </p>|<p class="genre body-xs">{genre}</p>|<p class="genre body-xs">
            {point} point
          </p>
        </div>
        <div class="gap-4 flex w-fit">
          <Heart variant="small" />
          <Info variant="small" />
        </div>
      </div>
    </div>
  </div>
  <a href={`${slug}`} class="w-fit h-fit">
    <div
      class="absolute top-0 bottom-0 left-0 right-0 w-full h-full hover:bg-black hover:opacity-25 ease-out duration-300"
    >
    </div>
  </a>
</article>

<script>
  export default {
    props: ["film"],
  };
</script>

<style>
  .infoBar p {
    color: #ccc;
  }
  .info {
    content: "";
    filter: blur(20px);
    height: 42%;
    left: -50px;
    position: absolute;
    width: 150%;
    z-index: 0;
  }

  article.card:hover .titel {
    color: #caae68;
  }
</style>
