---
const { aarstal, filmTitle, varrighed, genre, imgSrc } = Astro.props;
---

<article class="card">
  <h2>{filmTitle}</h2>
  <img src={imgSrc} alt="" />
  <div class="infoBar flex gap-2 align-middle text-xl">
    <p class="varrighed text-xs">{varrighed}</p>|<p class="aarstal">
      {aarstal}
    </p>|<p class="genre">{genre}</p>
  </div>
</article>