---
const {
  aarstal,
  filmTitle,
  varighed,
  genre,
  imgSrc,
  point,
  kortResume,
  slug,
  farve,
} = Astro.props;
import Play from "../components/ikoner/play.astro";
import Heart from "../components/ikoner/heart.astro";
import Info from "../components/ikoner/info.astro";
---

<article
  class={`${farve} px-10 py-10 [50vh] md:h-[70vh] w-full flex gap-12 justify-center`}
>
  <a href={slug} class="w-2/3 relative">
    <div
      class="aspect-auto w-full h-full bg-no-repeat bg-center bg-cover"
      style={`background-image: url("${imgSrc}")`}
    >
    </div>

    <div
      class="absolute top-0 bottom-0 left-0 right-0 w-full h-full hover:bg-black hover:opacity-20 ease-in duration-300"
    >
    </div>
  </a>

  <div class="flex flex-col gap-2 self-end">
    <h2 class="text-md font-dinHeader">{filmTitle}</h2>
    <div class="infoBar text-white flex gap-2 body-lg">
      <p class="varrighed">{varighed}</p>|<p class="aarstal">
        {aarstal}
      </p>
      |<p>{point} point</p>
      |<p class="genre">{genre}</p>
    </div>
    <div>
      <p class="kortResume max-w-[50ch] text-grey-50">
        {kortResume}
      </p>
    </div>
    <div class="ikoner ikoner flex gap-4">
      <Heart variant="small" />
      <Info variant="small" />
    </div>
  </div>
</article>

<style>
  .infoBar p {
    font-size: 14px;
  }
  .ashyGreen {
    background-color: #839697;
  }
  .greyIsh {
    background-color: #8e8e8e;
  }
  .mossGreen {
    background-color: #656b61;
  }
  .deepOcean {
    background-color: #7195c1;
  }
  .blueSky {
    background-color: #698aa9;
  }
  .lavender {
    background-color: #5966a1;
  }
  .prettyBlue {
    background-color: #8ea5bf;
  }
</style>
